
<h1><span class="log-in">Log in</span>

  <%=  form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "email" %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password" %>

    <%= f.submit "Log In" %>
<% end %>
